# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

zpost-py27/

ipynb/NACA0012/.ipynb_checkpoints/
ipynb/NACA0012/images/

ipynb/CUBE/.ipynb_checkpoints/

ipynb/NASA_CRM/images/
ipynb/NASA_CRM/.ipynb_checkpoints/

ipynb/CARADONNA_TUNG/.ipynb_checkpoints/
