# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

.ipynb_checkpoints/

zpost-py27/

ipynb/NACA0012/.ipynb_checkpoints/
ipynb/NACA0012/images/

ipynb/CUBE/.ipynb_checkpoints/

ipynb/NASA_CRM/images/
ipynb/NASA_CRM/.ipynb_checkpoints/

ipynb/CARADONNA_TUNG/.ipynb_checkpoints/

ipynb/.ipynb_checkpoints/1d_profiile-checkpoint.ipynb

ipynb/.ipynb_checkpoints/3d_plot_trial-checkpoint.ipynb

ipynb/.ipynb_checkpoints/delta wing large radius points -checkpoint.ipynb

ipynb/.ipynb_checkpoints/delta wing medium radius points -checkpoint.ipynb

ipynb/.ipynb_checkpoints/delta wing points-checkpoint.ipynb

ipynb/.ipynb_checkpoints/delta wing small radius points -checkpoint.ipynb

ipynb/.ipynb_checkpoints/Untitled0-checkpoint.ipynb

ipynb/.ipynb_checkpoints/wave equation-checkpoint.ipynb

ipynb/AHMED/.ipynb_checkpoints/Ahmed Body-checkpoint.ipynb

ipynb/Hyper_Flux/2nd_High_Lift_Prediction_Workshop/.ipynb_checkpoints/delta_wing_low_Reynolds-checkpoint.ipynb

ipynb/Hyper_Flux/2nd_High_Lift_Prediction_Workshop/.ipynb_checkpoints/Grid_spacing_calculator-checkpoint.ipynb

ipynb/Hyper_Flux/2nd_High_Lift_Prediction_Workshop/.ipynb_checkpoints/High_Lift_Prediction_Workshop-checkpoint.ipynb

ipynb/Hyper_Flux/2nd_High_Lift_Prediction_Workshop/.ipynb_checkpoints/import the experimental data -checkpoint.ipynb

ipynb/Hyper_Flux/2nd_High_Lift_Prediction_Workshop/.ipynb_checkpoints/SIMPLIFIED GEOMETRY-checkpoint.ipynb

ipynb/Hyper_Flux/2nd_High_Lift_Prediction_Workshop/.ipynb_checkpoints/Untitled0-checkpoint.ipynb

ipynb/Hyper_Flux/2nd_High_Lift_Prediction_Workshop/.ipynb_checkpoints/Untitled1-checkpoint.ipynb

ipynb/NACA0021/.ipynb_checkpoints/

ipynb/3D_CAVITY/.ipynb_checkpoints/cavity-Re=3200-checkpoint.ipynb
